html,body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.class_puzzle_title {
  font-size: 1.75em;

  margin-top: 0em;
  margin-bottom: 0em;

  text-align: center;
}

.class_puzzle_info {
  font-size: 1.3em;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;

  text-align: justify;
  text-indent: 1em;
}

.class_puzzle_info span {
  font-weight: bold;
}

#id_svg_main {
  background-color: gray;
}
