html,body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.class_puzzle_title {
  font-size: 2em;

  margin-top: 0px;
  margin-bottom: 0px;
}

.class_puzzle_info {
  font-size: 1.5em;

  margin-top: 1em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;

  text-align: justify;
  text-indent: 1em;
}

.class_puzzle_info span {
  font-weight: bold;
}

#id_svg_main {
  background-color: gray;
}
