html,body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.class_puzzle_title {
  font-size: 18pt; font-size: 3vh; 

  margin-top: 0px;
  margin-bottom: 0px;
}

.class_puzzle_info {
  font-size: 18pt; font-size: 3vh;

  text-indent: 12pt; text-indent: 2vh;
  margin-top: 6pt; margin-top: 1vh;
  margin-top: 6pt; margin-bottom: 1vh;

  text-align: left;
}

.class_puzzle_info span {
  font-weight: bold;
}

#id_svg_main {
  background-color: gray;
}
